@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

.serif {
  font-family: "Lora", serif;
}

body {
  color: white;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

#hero {
  width: 100vw;
  height: 90vh;
  background-image: url("./assets/hero.jpg");
  background-color: rgba(0, 0, 0, 0.4);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#hero .buttons {
  margin-top: 1em;
}

.button {
  width: 230px;
  height: 60px;
  background: transparent;
  color: white;
  border: 4px solid white;
  margin: 1em;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 0.8em;

  transition: 0.1s background ease-out;
  outline: none;
}

.button:hover {
  background: white;
  color: #121212;
  cursor: pointer;
}

.special {
  border-color: goldenrod;
}

.special:hover {
  background: goldenrod;
  color: #fff;
}

#hero h2 {
  font-size: 4em;
}

#location {
  width: 100vw;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: #00704a;
}

#location .image {
  grid-column: 1 / 4;
  background-image: url("./assets/location.jpg");
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#location .content {
  grid-column: 4 / 9;
  padding: 3em;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#location .content h3 {
  font-size: 3em;
}

#location .content > p {
  margin-top: 1em;
}

#location .content .map {
  margin-top: 1.5em;
}

#location .content .map iframe {
  width: 80%;
  height: 300px;
}
